{% extends "base.html" %} 
{% block title %}Tasks{% endblock %}

{% block content %}
<h1 align="center">Tasks</h1>
<br/>
<form method = "POST"> 
    <textarea name="task" id="task" class="form-control"></textarea>
    <label for="task_due_date">Task Date:</label>
    <input 
        type="date" 
        name="task_due_date" 
        id="task_due_date" 
        class="form-control" 
        min="{{ today_date }}" 
        required >
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Task</button>
    </div>
</form>    

<div id="tasks">
    {% for header, tasks in grouped_tasks.items() %}
        <h4 class="mt-4">{{ header }}</h4>
        <ul class="list-group list-group-flush">
            {% for task in tasks %}
                <li class="list-group-item">
                    {{ task.description }}
                    <button type="button" class="close" onClick="deleteTask('{{ task.id }}')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}